# Making your next move using [Numbeo](https://www.numbeo.com)

In [1]:
import pandas as pd
pd.set_option('display.max_rows', 300)

current_city = "Stockholm, Sweden"

In [2]:
def get_numbeo_dataframe(url, metric_column, current_city, lower_is_better = True, table_index = 2):
    df = pd.read_html(url)[table_index]
    df = df[["City", metric_column]]    

    df_current = df[df.City == current_city].iloc[0]

    if lower_is_better:
        df = df[df[metric_column] < df_current[metric_column]]
    else:
        df = df[df[metric_column] > df_current[metric_column]]
        
    df = df.sort_values(metric_column, ascending = lower_is_better).reset_index(drop=True)
    
    return df

## Purchasing Power

In [3]:
purchasing_power = get_numbeo_dataframe("https://www.numbeo.com/cost-of-living/rankings_current.jsp", 
                                        "Local Purchasing Power Index", 
                                        current_city, 
                                        lower_is_better = False)

purchasing_power

                                    City  Local Purchasing Power Index
0              Dallas, TX, United States                        166.84
1             Raleigh, NC, United States                        148.77
2              Austin, TX, United States                        146.27
3             Houston, TX, United States                        144.17
4                   Newcastle, Australia                        142.34
5             Seattle, WA, United States                        140.35
6             Atlanta, GA, United States                        140.03
7       San Francisco, CA, United States                        139.50
8                      Bern, Switzerland                        136.69
9                        Calgary, Canada                        136.13
10          San Diego, CA, United States                        134.56
11           Columbus, OH, United States                        133.75
12         Washington, DC, United States                        133.56
13            Phoenix, AZ, United States                        132.71
14          Charlotte, NC, United States                        132.57
15          Las Vegas, NV, United States                        132.22
16        Little Rock, AR, United States                        132.17
17             Denver, CO, United States                        131.79
18                   Zurich, Switzerland                        131.34
19                    Basel, Switzerland                        130.22
20     Salt Lake City, UT, United States                        129.38
21          Nashville, TN, United States                        129.10
22                    Karlsruhe, Germany                        128.09
23        Saint Louis, MO, United States                        127.63
24            Madison, WI, United States                        126.09
25                        Ottawa, Canada                        125.95
26                   Canberra, Australia                        125.83
27                   Adelaide, Australia                        125.75
28                   Brisbane, Australia                        124.97
29                      Hanover, Germany                        124.22
30        Minneapolis, MN, United States                        123.80
31        Kansas City, MO, United States                        123.58
32                       Aachen, Germany                        123.34
33          Anchorage, AK, United States                        122.22
34            Chicago, IL, United States                        120.49
35        San Antonio, TX, United States                        120.41
36                      Aalborg, Denmark                        120.25
37          Baltimore, MD, United States                        120.00
38         Sacramento, CA, United States                        119.78
39                 Derby, United Kingdom                        119.62
40           Portland, OR, United States                        118.72
41              Tampa, FL, United States                        118.62
42   Colorado Springs, CO, United States                        118.58
43                 Lausanne, Switzerland                        117.50
44                      Edmonton, Canada                        116.93
45        Los Angeles, CA, United States                        116.67
46             Boston, MA, United States                        115.52
47         Louisville, KY, United States                        115.47
48                     Hobart, Australia                        114.95
49       Indianapolis, IN, United States                        112.43
50                Eindhoven, Netherlands                        111.89
51                      Perth, Australia                        111.57
52                  Melbourne, Australia                        110.92
53              Boise, ID, United States                        110.36
54                   Geneva, Switzerland                        110.14
55           Southampton, United Kingdom                        109.87
56               Ad Dammam, Saudi Arabia                        109.54
57                      Dresden, Germany                        109.51
58                           Doha, Qatar                        109.04
59               Al Khobar, Saudi Arabia                        108.90
60                 Leeds, United Kingdom                        108.88
61                     Mannheim, Germany                        108.69
62                      Hamburg, Germany                        108.07
63         Pittsburgh, PA, United States                        107.90
64                    Navi Mumbai, India                        107.75
65                    Stuttgart, Germany                        107.50
66                    Frankfurt, Germany                        106.32
67                        London, Canada                        106.14
68                   Dusseldorf, Germany                        105.63
69             Liverpool, United Kingdom                        105.19
70                      Tampere, Finland                        105.14
71                      Winnipeg, Canada                        105.10
72             Albany, NY, United States                        104.73
73                      Montreal, Canada                        104.72
74               Wellington, New Zealand                        104.71
75                      Cologne, Germany                        104.12
76                 Gold Coast, Australia                        104.07
77                   Heidelberg, Germany                        104.04
78                Luxembourg, Luxembourg                        103.96
79                         Bonn, Germany                        103.91
80                     Sydney, Australia                        103.86
81                    Nuremberg, Germany                        103.18
82                       Munich, Germany                        103.09
83                        Arhus, Denmark                        102.69
84            Buffalo, NY, United States                        102.47
85                        Gurgaon, India                        101.99
86             Christchurch, New Zealand                        101.80
87             Sheffield, United Kingdom                        101.78
88       Abu Dhabi, United Arab Emirates                        101.47
89                       Berlin, Germany                        100.31
90               Cardiff, United Kingdom                        100.30
91           New York, NY, United States                        100.00
92               Glasgow, United Kingdom                         99.71
93       Philadelphia, PA, United States                         99.02
94              Miami, FL, United States                         98.04
95                        Bergen, Norway                         98.01
96                      Toulouse, France                         97.80
97           Dubai, United Arab Emirates                         97.67
98                     Helsinki, Finland                         97.47
99                  Riyadh, Saudi Arabia                         97.36
100              Belfast, United Kingdom                         97.25
101               Rotterdam, Netherlands                         96.93
102        Jeddah (Jiddah), Saudi Arabia                         96.49
103            Leicester, United Kingdom                         96.35
104                  Copenhagen, Denmark                         96.22
105         Milwaukee, WI, United States                         96.01
106           Birmingham, United Kingdom                         95.96
107    The Hague (Den Haag), Netherlands                         95.52
108                    Brussels, Belgium                         95.41
109                    Trondheim, Norway                         94.71
110               Dundee, United Kingdom                         94.65
111                   Gothenburg, Sweden                         94.49

## Property Prices

In [4]:
property_prices = get_numbeo_dataframe("https://www.numbeo.com/property-investment/rankings_current.jsp", 
                                        "Price To Income Ratio", current_city)

property_prices

                                      City  Price To Income Ratio
0                Toledo, OH, United States                   1.45
1              Syracuse, NY, United States                   1.58
2            Huntsville, AL, United States                   1.62
3               Detroit, MI, United States                   1.67
4                 Tulsa, OK, United States                   1.74
5           Saint Louis, MO, United States                   1.95
6           Little Rock, AR, United States                   2.02
7               Lubbock, TX, United States                   2.03
8               Buffalo, NY, United States                   2.03
9           Kansas City, MO, United States                   2.05
10             Columbus, OH, United States                   2.06
11           Fort Worth, TX, United States                   2.07
12               Dayton, OH, United States                   2.14
13            Rochester, NY, United States                   2.15
14          Chattanooga, TN, United States                   2.16
15         Jacksonville, FL, United States                   2.16
16           Pittsburgh, PA, United States                   2.18
17               Dallas, TX, United States                   2.19
18              Houston, TX, United States                   2.19
19         Indianapolis, IN, United States                   2.26
20          San Antonio, TX, United States                   2.28
21             Hartford, CT, United States                   2.39
22           Louisville, KY, United States                   2.39
23                  Pretoria, South Africa                   2.39
24          Bakersfield, CA, United States                   2.40
25           Cincinnati, OH, United States                   2.42
26        Oklahoma City, OK, United States                   2.48
27         Grand Rapids, MI, United States                   2.52
28            Charlotte, NC, United States                   2.58
29            Baltimore, MD, United States                   2.61
30            Anchorage, AK, United States                   2.61
31                Omaha, NE, United States                   2.61
32              Raleigh, NC, United States                   2.62
33            Lexington, KY, United States                   2.64
34            Las Vegas, NV, United States                   2.69
35          Baton Rouge, LA, United States                   2.72
36           Birmingham, AL, United States                   2.74
37            Milwaukee, WI, United States                   2.82
38               Durham, NC, United States                   2.83
39              Phoenix, AZ, United States                   2.85
40              Atlanta, GA, United States                   2.90
41            Nashville, TN, United States                   2.93
42           Jeddah (Jiddah), Saudi Arabia                   2.93
43               Tucson, AZ, United States                   2.96
44            Knoxville, TN, United States                   2.99
45                Tampa, FL, United States                   3.00
46          Albuquerque, NM, United States                   3.10
47             Richmond, VA, United States                   3.14
48          Minneapolis, MN, United States                   3.14
49     Colorado Springs, CO, United States                   3.29
50              Madison, WI, United States                   3.30
51              Spokane, WA, United States                   3.31
52              Orlando, FL, United States                   3.46
53                 Reno, NV, United States                   3.51
54      West Palm Beach, FL, United States                   3.52
55              Johannesburg, South Africa                   3.52
56            Vancouver, WA, United States                   3.54
57                Salem, OR, United States                   3.55
58              Chicago, IL, United States                   3.56
59                    Riyadh, Saudi Arabia                   3.58
60                    Durban, South Africa                   3.59
61           Sacramento, CA, United States                   3.61
62               Tacoma, WA, United States                   3.81
63               Austin, TX, United States                   3.81
64         Philadelphia, PA, United States                   3.86
65                        Edmonton, Canada                   3.93
66       Salt Lake City, UT, United States                   3.98
67      Fort Lauderdale, FL, United States                   4.22
68                Boise, ID, United States                   4.30
69           Washington, DC, United States                   4.34
70               Denver, CO, United States                   4.34
71             Portland, ME, United States                   4.35
72               Eugene, OR, United States                   4.46
73                     Adelaide, Australia                   4.47
74             Portland, OR, United States                   4.52
75             Bellevue, WA, United States                   4.54
76                         Calgary, Canada                   4.59
77          New Orleans, LA, United States                   4.59
78                          Ottawa, Canada                   4.67
79             Dubai, United Arab Emirates                   4.78
80                Miami, FL, United States                   4.97
81                        Winnipeg, Canada                   4.99
82                  Eindhoven, Netherlands                   5.04
83                         Antalya, Turkey                   5.12
84               Irvine, CA, United States                   5.20
85            San Diego, CA, United States                   5.34
86           Bellingham, WA, United States                   5.34
87           Charleston, SC, United States                   5.39
88              Seattle, WA, United States                   5.54
89                       Maribor, Slovenia                   5.58
90         Abu Dhabi, United Arab Emirates                   5.60
91                     Brisbane, Australia                   5.71
92                           Cork, Ireland                   5.72
93             San Jose, CA, United States                   5.75
94                         Kelowna, Canada                   5.78
95          Jersey City, NJ, United States                   5.80
96                        Antwerp, Belgium                   5.84
97                           Bursa, Turkey                   5.88
98                             Doha, Qatar                   5.97
99       The Hague (Den Haag), Netherlands                   6.30
100                         Trieste, Italy                   6.38
101                Wellington, New Zealand                   6.41
102                      Brussels, Belgium                   6.50
103                         Ankara, Turkey                   6.50
104          Long Beach, CA, United States                   6.52
105                     Reykjavik, Iceland                   6.54
106             Oakland, CA, United States                   6.58
107                          Malmo, Sweden                   6.79
108                       Perth, Australia                   6.81
109                         Gurgaon, India                   6.82
110                 Rotterdam, Netherlands                   6.85
111                       Montreal, Canada                   6.87
112           Arlington, VA, United States                   6.87
113                           Noida, India                   6.93
114                        Nicosia, Cyprus                   7.16
115               Seville (Sevilla), Spain                   7.19
116                     Bhubaneswar, India                   7.25
117                       Tampere, Finland                   7.29
118                      Monterrey, Mexico                   7.32
119             Boulder, CO, United States                   7.39
120         Los Angeles, CA, United States                   7.40
121                        Vadodara, India                   7.41
122            Berkeley, CA, United States                   7.49
123                        Valencia, Spain                   7.67
124                      Plovdiv, Bulgaria                   7.70
125                    Chelyabinsk, Russia                   7.76
126                   San Jose, Costa Rica                   7.78
127                       Toulouse, France                   7.80
128                         Bergen, Norway                   7.89
129       San Francisco, CA, United States                   7.91
130                       Victoria, Canada                   7.94
131                       Limassol, Cyprus                   7.98
132                           Genoa, Italy                   8.00
133                        Osijek, Croatia                   8.03
134                         Tartu, Estonia                   8.06
135                Cape Town, South Africa                   8.10
136                   Utrecht, Netherlands                   8.10
137                       Katowice, Poland                   8.12
138              Boston, MA, United States                   8.17
139                      Stavanger, Norway                   8.19
140                         Tyumen, Russia                   8.39
141                    Zurich, Switzerland                   8.47
142                           Kochi, India                   8.50
143                    Mississauga, Canada                   8.55
144                       Ahmedabad, India                   8.63
145                          Graz, Austria                   8.71
146              Edinburgh, United Kingdom                   8.72
147               Lucknow (Lakhnau), India                   8.73
148                        Varna, Bulgaria                   8.75
149                       Bangalore, India                   8.76
150                          Haifa, Israel                   8.88
151                           Lodz, Poland                   8.89
152                          Linz, Austria                   8.90
153                        Sofia, Bulgaria                   8.99
154                     Astana, Kazakhstan                   9.05
155                          Izmir, Turkey                   9.06
156                     Navi Mumbai, India                   9.10
157                        Saratov, Russia                   9.10
158                Bristol, United Kingdom                   9.11
159                           Riga, Latvia                   9.12
160                    Lugano, Switzerland                   9.18
161                       Hyderabad, India                   9.22
162                       Voronezh, Russia                   9.27
163            Honolulu, HI, United States                   9.31
164                          Amman, Jordan                   9.34
165                       Tallinn, Estonia                   9.37
166                       Hamburg, Germany                   9.39
167                    Copenhagen, Denmark                   9.46
168                           Perm, Russia                   9.48
169                   Melbourne, Australia                   9.49
170                 Rostov-na-donu, Russia                   9.50
171                     Nuremberg, Germany                   9.52
172                        Dublin, Ireland                   9.52
173                    Krasnoyarsk, Russia                   9.56
174                        Brasov, Romania                   9.56
175                    Kaliningrad, Russia                   9.57
176                           Turin, Italy                   9.58
177                        Izhevsk, Russia                   9.67
178                          Tomsk, Russia                   9.69
179                           Lyon, France                   9.78
180                      Krasnodar, Russia                   9.80
181              Thiruvananthapuram, India                   9.85
182                          Bhopal, India                   9.88
183                   Visakhapatnam, India                   9.91
184                        Dnipro, Ukraine                   9.98
185                          Malaga, Spain                   9.99
186  Pristina, Kosovo (Disputed Territory)                  10.04
187                          Iasi, Romania                  10.19
188                          Jaipur, India                  10.24
189            New York, NY, United States                  10.32
190                         Bologna, Italy                  10.33
191                       Cologne, Germany                  10.37
192                      Debrecen, Hungary                  10.37
193              Guatemala City, Guatemala                  10.42
194                      Kaunas, Lithuania                  10.46
195                         Quito, Ecuador                  10.49
196                        Szeged, Hungary                  10.53
197                      Vijayawada, India                  10.55
198                    Geneva, Switzerland                  10.57
199                     Frankfurt, Germany                  10.59
200                           Muscat, Oman                  10.59
201                        Rijeka, Croatia                  10.60
202                        Oradea, Romania                  10.61
203                     Gothenburg, Sweden                  10.62
204                     Stuttgart, Germany                  10.81
205                         Poznan, Poland                  10.81
206                       Kosice, Slovakia                  10.89
207                    Guadalajara, Mexico                  10.89
208                   Thessaloniki, Greece                  10.94
209                         Athens, Greece                  10.98
210                        Wroclaw, Poland                  10.99
211                         Samara, Russia                  11.01
212                            Pune, India                  11.03
213                     Bucharest, Romania                  11.05
214                        Berlin, Germany                  11.10
215                      Sydney, Australia                  11.34
216                 Kuala Lumpur, Malaysia                  11.34
217                         Tunis, Tunisia                  11.35
218                     Timisoara, Romania                  11.36
219                Nizhny Novgorod, Russia                  11.41
220                   Brno, Czech Republic                  11.45
221                    Novosibirsk, Russia                  11.45
222                       Istanbul, Turkey                  11.46
223                          Indore, India                  11.51
224                  Yekaterinburg, Russia                  11.53
225                         Kolkata, India                  11.59
226                     Constanta, Romania                  11.68
227                 Luxembourg, Luxembourg                  11.71
228                       Brasilia, Brazil                  11.73
229                           Oslo, Norway                  11.81
230                    Panama City, Panama                  11.88
231                  Auckland, New Zealand                  11.90
232                     Asuncion, Paraguay                  11.91
233                          Madrid, Spain                  11.99
234                       Kharkiv, Ukraine                  12.00
235                      Helsinki, Finland                  12.09
236                       Craiova, Romania                  12.10
237       Sarajevo, Bosnia And Herzegovina                  12.21
238                     Vilnius, Lithuania                  12.25
239                        Zagreb, Croatia                  12.27
240                         Gdansk, Poland                  12.29
241                  Podgorica, Montenegro                  12.39
242                       Campinas, Brazil                  12.42
243                Krakow (Cracow), Poland                  12.44
244                   Bratislava, Slovakia                  12.49
245                     Almaty, Kazakhstan                  12.49
246                           Cairo, Egypt                  12.52
247                 Amsterdam, Netherlands                  12.52
248                   Cluj-Napoca, Romania                  12.53
249                            Ufa, Russia                  12.56
250                   Porto Alegre, Brazil                  12.61
251                      Coimbatore, India                  12.62
252                    Islamabad, Pakistan                  12.89
253                          Kazan, Russia                  12.96
254                        Porto, Portugal                  12.99
255                      Chandigarh, India                  13.02
256                          Kiev, Ukraine                  13.10
257                      Chisinau, Moldova                  13.15
258                      Dhaka, Bangladesh                  13.15
259                       Curitiba, Brazil                  13.16
260                          Naples, Italy                  13.18
261              Cambridge, United Kingdom                  13.29
262                           Tokyo, Japan                  13.33
263                         Warsaw, Poland                  13.40
264                       Barcelona, Spain                  13.43
265                           Delhi, India                  13.45
266                        Odessa, Ukraine                  13.52
267                    Ljubljana, Slovenia                  13.55
268     Banja Luka, Bosnia And Herzegovina                  13.59
269                          Lviv, Ukraine                  13.69
270                  Ulaanbaatar, Mongolia                  13.74
271                        Vienna, Austria                  13.76
272                      Skopje, Macedonia                  13.90
273                      Karachi, Pakistan                  13.97
274                         Cali, Colombia                  13.99
275                        Toronto, Canada                  14.04
276                       Tbilisi, Georgia                  14.08
277                         Chennai, India                  14.30
278                     Guayaquil, Ecuador                  14.34
279                        Beirut, Lebanon                  14.38
280                    Kuwait City, Kuwait                  14.47
281                        Santiago, Chile                  14.49

## Crime

In [5]:
crime = get_numbeo_dataframe("https://www.numbeo.com/crime/rankings_current.jsp", "Crime Index", current_city)
crime

                                    City  Crime Index
0        Abu Dhabi, United Arab Emirates        11.07
1                            Doha, Qatar        11.33
2                    Quebec City, Canada        14.36
3                         Taipei, Taiwan        15.13
4          Sharjah, United Arab Emirates        15.16
5            Dubai, United Arab Emirates        16.52
6                        Munich, Germany        16.75
7                      Bern, Switzerland        17.11
8                    Zurich, Switzerland        17.32
9                      Eskisehir, Turkey        17.33
10                  Hong Kong, Hong Kong        18.62
11                    Basel, Switzerland        19.26
12                  Cluj-Napoca, Romania        19.46
13                   Canberra, Australia        19.52
14                        Tartu, Estonia        19.65
15                          Tokyo, Japan        20.10
16                       Rijeka, Croatia        20.33
17                       Markham, Canada        20.50
18                      Tbilisi, Georgia        20.55
19                     Trondheim, Norway        20.66
20                      Tallinn, Estonia        21.26
21                  Chiang Mai, Thailand        21.60
22                      Tampere, Finland        21.61
23                      Yerevan, Armenia        21.70
24                       Brasov, Romania        21.83
25                   Ljubljana, Slovenia        21.87
26                     Helsinki, Finland        22.01
27                    Reykjavik, Iceland        22.14
28                       Zagreb, Croatia        22.17
29                          Muscat, Oman        22.61
30                        Merida, Mexico        22.78
31                   Copenhagen, Denmark        22.89
32                          Osaka, Japan        23.17
33                       Vienna, Austria        23.51
34                        Minsk, Belarus        23.87
35                     Stavanger, Norway        24.13
36                      Oakville, Canada        24.15
37                      Mangalore, India        24.27
38                         Bursa, Turkey        24.52
39                        Ottawa, Canada        24.64
40                    Timisoara, Romania        24.64
41                      Aalborg, Denmark        24.91
42                Prague, Czech Republic        24.91
43                         Gent, Belgium        25.07
44                       Manama, Bahrain        25.39
45                         Malaga, Spain        25.56
46                Eindhoven, Netherlands        25.83
47                      Waterloo, Canada        25.94
48                       Valencia, Spain        26.00
49     The Hague (Den Haag), Netherlands        26.23
50                  Brno, Czech Republic        26.52
51                         Izmir, Turkey        26.75
52                    Stuttgart, Germany        26.93
53                         Iasi, Romania        26.96
54                         Oulu, Finland        27.22
55                   Dusseldorf, Germany        27.53
56                    Davao, Philippines        27.63
57                        Bergen, Norway        27.72
58                    Bucharest, Romania        27.85
59                        Warsaw, Poland        27.93
60                    Vilnius, Lithuania        28.00
61                      Lisbon, Portugal        28.11
62                 Tel Aviv-Yafo, Israel        28.12
63                   Islamabad, Pakistan        28.18
64                  Riyadh, Saudi Arabia        28.50
65                    Seoul, South Korea        28.52
66                   Geneva, Switzerland        28.68
67     Salt Lake City, UT, United States        28.75
68               Nizhny Novgorod, Russia        28.87
69                Luxembourg, Luxembourg        28.95
70                 Lausanne, Switzerland        28.97
71            Madison, WI, United States        29.12
72               Wellington, New Zealand        29.35
73                      Montreal, Canada        29.57
74                       Galway, Ireland        29.69
75                       Vadodara, India        29.89
76                  Bratislava, Slovakia        29.90
77                         Haifa, Israel        29.91
78                  Singapore, Singapore        30.00
79              Seville (Sevilla), Spain        30.02
80                       Nicosia, Cyprus        30.06
81               Krakow (Cracow), Poland        30.14
82                      Baku, Azerbaijan        30.71
83                         Madrid, Spain        30.96
84             Edinburgh, United Kingdom        30.97
85                      Victoria, Canada        30.98
86                       Wroclaw, Poland        31.30
87                   Adelaide, Australia        31.40
88               Puerto Vallarta, Mexico        31.72
89            Raleigh, NC, United States        31.76
90                       Calgary, Canada        32.19
91                         Cork, Ireland        32.20
92                      Ahmedabad, India        32.24
93                  Incheon, South Korea        32.75
94                Amsterdam, Netherlands        32.88
95                      Limassol, Cyprus        33.29
96             Thiruvananthapuram, India        33.51
97         Jeddah (Jiddah), Saudi Arabia        33.81
98                     Coimbatore, India        33.83
99                     Hobart, Australia        33.87
100                     Antwerp, Belgium        34.00
101                       Poznan, Poland        34.00
102                  Kuwait City, Kuwait        34.02
103                  Brisbane, Australia        34.03
104                         Surat, India        34.15
105                       Split, Croatia        34.31
106             Boise, ID, United States        34.36
107                   Navi Mumbai, India        34.43
108            Boston, MA, United States        34.46
109              Ad Dammam, Saudi Arabia        34.71
110                   Nuremberg, Germany        34.71
111                     Kathmandu, Nepal        34.80
112                         Lund, Sweden        34.93
113            Austin, TX, United States        35.37
114                    Queretaro, Mexico        35.46
115                         Kochi, India        35.46
116                      Cuenca, Ecuador        35.52
117         Riverside, CA, United States        35.52
118                    Sydney, Australia        35.55
119              Cardiff, United Kingdom        35.62
120   Banja Luka, Bosnia And Herzegovina        35.79
121             Brighton, United Kingdom        35.88
122               Rotterdam, Netherlands        35.92
123        Pittsburgh, PA, United States        36.09
124                    Vancouver, Canada        36.26
125         San Diego, CA, United States        36.45
126                 Thessaloniki, Greece        36.58
127                     Hyderabad, India        36.64
128                    Budapest, Hungary        36.66
129                          Pune, India        37.21
130             Aberdeen, United Kingdom        37.34
131                    Jerusalem, Israel        37.45
132                     Lahore, Pakistan        37.50
133                         Oslo, Norway        37.63
134                     Belgrade, Serbia        37.64
135                      Florence, Italy        37.70
136                      Toronto, Canada        37.80
137                         Riga, Latvia        37.81
138                     Katowice, Poland        38.42
139                    Chandigarh, India        38.55
140  Newcastle upon Tyne, United Kingdom        38.78
141             Saint Petersburg, Russia        38.82
142                      Porto, Portugal        38.97
143            Christchurch, New Zealand        39.09
144                       Gdansk, Poland        39.10
145                    Kaunas, Lithuania        39.15
146                    Kitchener, Canada        39.34
147                  Makati, Philippines        39.58
148                   Colombo, Sri Lanka        39.63
149              Bristol, United Kingdom        39.69
150                    Alexandria, Egypt        39.73
151                        Amman, Jordan        39.86
152                      Shanghai, China        39.89
153                       Chennai, India        40.01
154                       Ankara, Turkey        40.16
155                       Hanoi, Vietnam        40.45
156                      Berlin, Germany        40.48
157                      Tirana, Albania        40.49
158            Denver, CO, United States        40.61
159                     Penang, Malaysia        40.74
160                   Frankfurt, Germany        40.92
161                        Lviv, Ukraine        40.92
162                      Shenzhen, China        41.04
163                       Moscow, Russia        41.06
164                       Beijing, China        41.21
165            Sheffield, United Kingdom        41.28
166                    Bangkok, Thailand        41.43
167          Columbus, OH, United States        41.51
168                  Nanaimo, BC, Canada        41.66
169                Gold Coast, Australia        41.86
170          San Jose, CA, United States        42.09
171                        Mumbai, India        42.11
172                         Lyon, France        42.22
173              Belfast, United Kingdom        42.33
174                      Halifax, Canada        42.46
175                      Sofia, Bulgaria        42.62
176         Charlotte, NC, United States        42.68
177                     Edmonton, Canada        42.79
178          Honolulu, HI, United States        42.83
179       Los Angeles, CA, United States        42.86
180                  Mississauga, Canada        43.16
181                     Cologne, Germany        43.27
182                     Novi Sad, Serbia        43.38
183                         Milan, Italy        43.40
184          New York, NY, United States        43.41
185                  Iloilo, Philippines        43.51
186                     Perth, Australia        43.76
187          Richmond, VA, United States        43.88
188                      Beirut, Lebanon        43.97
189                         Lodz, Poland        44.12

## Health Care

In [6]:
health_care = get_numbeo_dataframe("https://www.numbeo.com/health-care/rankings_current.jsp", 
                                   "Health Care Index", current_city, lower_is_better = False)

health_care

                                   City  Health Care Index
0                        Taipei, Taiwan              86.74
1                  Chiang Mai, Thailand              84.56
2                    Seoul, South Korea              83.06
3                   Brisbane, Australia              82.48
4                       Cuenca, Ecuador              82.44
5                      Hamilton, Canada              82.28
6                   Canberra, Australia              82.23
7                          Tokyo, Japan              81.19
8                      Mangalore, India              80.25
9                      Antwerp, Belgium              80.03
10                      Vienna, Austria              79.75
11       Minneapolis, MN, United States              79.01
12                        Madrid, Spain              78.81
13                      Valencia, Spain              78.62
14              Glasgow, United Kingdom              78.58
15                     Edmonton, Canada              78.52
16           Madison, WI, United States              78.51
17                      Munich, Germany              78.50
18            Edinburgh, United Kingdom              78.50
19                     Perth, Australia              78.41
20    The Hague (Den Haag), Netherlands              78.36
21                    Sydney, Australia              78.27
22                        Bursa, Turkey              78.22
23              Nizhny Novgorod, Russia              78.13
24                  Guadalajara, Mexico              77.90
25                  Copenhagen, Denmark              77.81
26                Leeds, United Kingdom              77.80
27                    Bangkok, Thailand              77.59
28                     Barcelona, Spain              77.52
29           Manchester, United Kingdom              77.47
30                        Paris, France              77.21
31                      Antalya, Turkey              76.74
32                    Helsinki, Finland              76.70
33                   Medellin, Colombia              76.65
34                      Calgary, Canada              76.47
35                    Brussels, Belgium              75.75
36                  Adelaide, Australia              75.69
37                        Gent, Belgium              75.48
38                      Toronto, Canada              75.47
39                 Brno, Czech Republic              75.26
40                      Porto, Portugal              75.19
41                    Pattaya, Thailand              75.16
42                 Melbourne, Australia              75.07
43           Raleigh, NC, United States              75.01
44               Eindhoven, Netherlands              74.89
45                       Ottawa, Canada              74.79
46                        Malaga, Spain              74.67
47                    Vancouver, Canada              74.62
48            Boston, MA, United States              74.54
49                         Oslo, Norway              74.46
50                     Hamburg, Germany              74.42
51                       Bergen, Norway              74.41
52                     Cologne, Germany              74.37
53           Birmingham, United Kingdom              74.16
54               Luxembourg, Luxembourg              74.14
55         Charlotte, NC, United States              74.14
56                        Haifa, Israel              74.12
57              Wellington, New Zealand              74.12
58        Pittsburgh, PA, United States              73.93
59                Tel Aviv-Yafo, Israel              73.89
60                  Zurich, Switzerland              73.52
61              Bristol, United Kingdom              73.40
62                   Frankfurt, Germany              73.35
63                    Kaunas, Lithuania              73.33
64               Prague, Czech Republic              73.25
65                Auckland, New Zealand              73.21
66           Seattle, WA, United States              73.04
67          Columbus, OH, United States              72.93
68                          Doha, Qatar              72.81
69       San Antonio, TX, United States              72.73
70          Portland, OR, United States              72.63
71                       Gurgaon, India              72.44
72                   Davao, Philippines              72.21
73                   Colombo, Sri Lanka              71.95
74                         Kochi, India              71.67
75                        Izmir, Turkey              71.54
76           Houston, TX, United States              71.45
77                     Lisbon, Portugal              71.36
78                 Singapore, Singapore              71.35
79                       Chennai, India              71.27
80                    Coimbatore, India              71.26
81                      Halifax, Canada              71.26
82                     Victoria, Canada              71.12
83            Austin, TX, United States              70.92
84              Cape Town, South Africa              70.89
85                   Stuttgart, Germany              70.86
86                     Ahmedabad, India              70.84
87         San Diego, CA, United States              70.83
88    Salt Lake City, UT, United States              70.79
89                        Malmo, Sweden              70.72
90      Philadelphia, PA, United States              70.47
91                         Milan, Italy              70.43
92          Honolulu, HI, United States              70.26
93        Washington, DC, United States              70.23
94               Amsterdam, Netherlands              70.08
95            Denver, CO, United States              69.83
96                     Tallinn, Estonia              69.81
97              Belfast, United Kingdom              69.63
98              Buenos Aires, Argentina              69.61
99                    Jerusalem, Israel              69.54
100     Indianapolis, IN, United States              69.40
101                      Quito, Ecuador              69.29
102    San Francisco, CA, United States              69.13
103     Abu Dhabi, United Arab Emirates              69.01
104         San Jose, CA, United States              69.01
105                     Berlin, Germany              68.97
106                  Vilnius, Lithuania              68.78
107              London, United Kingdom              68.51
108                    Winnipeg, Canada              68.43
109                 Quebec City, Canada              68.42
110                        Turin, Italy              68.31
111       Sacramento, CA, United States              68.27
112                  Timisoara, Romania              68.20
113                    Bangalore, India              68.18
114                    Istanbul, Turkey              68.16
115                       Mumbai, India              68.15
116                      Ankara, Turkey              68.11
117                 Mississauga, Canada              68.11
118                  Gothenburg, Sweden              68.10
119          Chicago, IL, United States              67.99
120  Fort Lauderdale, FL, United States              67.92
121                      Regina, Canada              67.86
122      Albuquerque, NM, United States              67.80
123                    Hyderabad, India              67.77
124              Pretoria, South Africa              67.43

## Combined Result

In [8]:
from functools import reduce

dfs = [purchasing_power, property_prices, crime, health_care]
df_combined = reduce(lambda left, right: pd.merge(left, right, on = "City"), dfs)

df_combined["Country"] = df_combined.City.str.split(", ").str[-1]
countries_interested = ["United States", "Canada", "Australia", "United Kingdom", "Ireland", "South Africa", "New Zealand", "Singapore"]
#df_combined = df_combined[df_combined.Country.isin(countries_interested)]

df_combined.sort_values("Price To Income Ratio", ascending = True).reset_index(drop=True)

,City,Local Purchasing Power Index,Price To Income Ratio,Crime Index,Health Care Index,Country
0,"Columbus, OH, United States",133.75,2.06,41.51,72.93,United States
1,"Pittsburgh, PA, United States",107.90,2.18,36.09,73.93,United States
2,"Charlotte, NC, United States",132.57,2.58,42.68,74.14,United States
3,"Raleigh, NC, United States",148.77,2.62,31.76,75.01,United States
4,"Madison, WI, United States",126.09,3.30,29.12,78.51,United States
5,"Austin, TX, United States",146.27,3.81,35.37,70.92,United States
6,"Edmonton, Canada",116.93,3.93,42.79,78.52,Canada
7,"Salt Lake City, UT, United States",129.38,3.98,28.75,70.79,United States
8,"Denver, CO, United States",131.79,4.34,40.61,69.83,United States
9,"Adelaide, Australia",125.75,4.47,31.40,75.69,Australia
10,"Calgary, Canada",136.13,4.59,32.19,76.47,Canada
11,"Ottawa, Canada",125.95,4.67,24.64,74.79,Canada
12,"Eindhoven, Netherlands",111.89,5.04,25.83,74.89,Netherlands
13,"San Diego, CA, United States",134.56,5.34,36.45,70.83,United States
14,"Abu Dhabi, United Arab Emirates",101.47,5.60,11.07,69.01,United Arab Emirates
15,"Brisbane, Australia",124.97,5.71,34.03,82.48,Australia
16,"Doha, Qatar",109.04,5.97,11.33,72.81,Qatar
17,"The Hague (Den Haag), Netherlands",95.52,6.30,26.23,78.36,Netherlands
18,"Wellington, New Zealand",104.71,6.41,29.35,74.12,New Zealand
19,"Perth, Australia",111.57,6.81,43.76,78.41,Australia
20,"Bergen, Norway",98.01,7.89,27.72,74.41,Norway
21,"Boston, MA, United States",115.52,8.17,34.46,74.54,United States
22,"Zurich, Switzerland",131.34,8.47,17.32,73.52,Switzerland
23,"Copenhagen, Denmark",96.22,9.46,22.89,77.81,Denmark
24,"Cologne, Germany",104.12,10.37,43.27,74.37,Germany
25,"Frankfurt, Germany",106.32,10.59,40.92,73.35,Germany
26,"Stuttgart, Germany",107.50,10.81,26.93,70.86,Germany
27,"Berlin, Germany",100.31,11.10,40.48,68.97,Germany
28,"Sydney, Australia",103.86,11.34,35.55,78.27,Australia
29,"Luxembourg, Luxembourg",103.96,11.71,28.95,74.14,Luxembourg
30,"Helsinki, Finland",97.47,12.09,22.01,76.70,Finland